* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
body {
  transition: transform 0.3s;
}
router-link {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/* assistant */
/* search */
.search_assistant .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.search_assistant .input {
  max-width: 190px;
  height: 100%;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  /* background-color: #66645f; */
  background-color: #ffffff;
  caret-color: #f7f7f8;
  color: rgb(45, 19, 7);
  padding: 7px 10px;
  border: 1px solid #92928ca1;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-right: 1px;
  transition: all 0.2s ease;
}

.search_assistant .input:hover {
  border: 1px solid #966010a1;
}

.search_assistant .input:focus {
  border: 1px solid #966010a1;
  background-color: #ffffff;
}

.search_assistant .search__btn {
  border: none;
  cursor: pointer;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_assistant .search__btn:hover {
  background-color: rgba(54, 54, 56, 1);
}

.search_assistant .fa-solid.fa-info {
  background-color: transparent;
  position: relative;
  border: none;
}
.search_assistant .fa-solid.fa-info::after {
  content: "more";
  position: absolute;
  top: -200%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  background: #58b35e;
  padding: 4px 8px;
  border-radius: 3px;
  transition: 0.2s linear;
  transition-delay: 0.2s;
  color: white;
  text-transform: uppercase;
  font-size: 8px;
  opacity: 0;
  visibility: hidden;
  font-weight: 100;
  font-family: inherit;
}
/* assistant */
.fa-solid.fa-info:hover {
  transform: scale(1.5);
}
.fa-solid.fa-info:hover {
  fill: rgb(168, 7, 7);
}

.fa-solid.fa-info:hover::after {
  visibility: visible;
  opacity: 1;
  top: -70%;
}
/* icon delete */
.btn_delete {
  background-color: transparent;
  position: relative;
  border: none;
}

.btn_delete::after {
  content: "delete";
  position: absolute;
  top: -300%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  background-color: rgb(168, 7, 7);
  padding: 4px 8px;
  border-radius: 5px;
  transition: 0.2s linear;
  transition-delay: 0.2s;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
}

.icon {
  transform: scale(1.2);
  transition: 0.2s linear;
}

.btn_delete:hover > .icon {
  transform: scale(1.5);
}

.btn_delete:hover > .icon path {
  fill: rgb(168, 7, 7);
}

.btn_delete:hover::after {
  visibility: visible;
  opacity: 1;
  top: -150%;
}

/* icon_edit */
.fa-solid.fa-pen-to-square {
  background-color: transparent;
  position: relative;
  border: none;
}
.fa-solid.fa-pen-to-square::after {
  content: "edit";
  position: absolute;
  top: -200%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  background: #d1d110;
  padding: 4px 8px;
  border-radius: 3px;
  transition: 0.2s linear;
  transition-delay: 0.2s;
  color: white;
  text-transform: uppercase;
  font-size: 8px;
  opacity: 0;
  visibility: hidden;
  font-weight: 100;
}
.fa-solid.fa-pen-to-square:hover {
  transform: scale(1.5);
}

.fa-solid.fa-pen-to-square:hover {
  fill: rgb(168, 7, 7);
}

.fa-solid.fa-pen-to-square:hover::after {
  visibility: visible;
  opacity: 1;
  top: -70%;
}

/* icon_add, edit, delete */
.button_add {
  position: relative;
  width: 108px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #4d7c0f;
}

.button_add,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button_add .button__text {
  transform: translateX(8px);
  color: #fff;
  font-weight: 600;
}

.button_add .button__icon {
  position: absolute;
  transform: translateX(64px);
  height: 100%;
  width: 42px;
  background-color: #426b0d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_add .svg {
  width: 22px;
  stroke: #fff;
}

.button_add:hover {
  background: #34974d;
}

.button_add:hover .button__text {
  color: transparent;
}

.button_add:hover .button__icon {
  width: 106px;
  transform: translateX(0);
}

.button_add:active .button__icon {
  background-color: #2e8644;
}

.button_add:active {
  border: 1px solid #2e8644;
}

.button_delete {
  position: relative;
  width: 80px;
  height: 26px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #cc0000;
  background-color: #d92020;
  overflow: hidden;
}

.button_delete,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button_delete .button__text {
  transform: translateX(8px);
  color: #fff;
  font-weight: 600;
}

.button_delete .button__icon {
  position: absolute;
  transform: translateX(53px);
  height: 100%;
  width: 24px;
  background-color: #c00b0b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_delete .svg {
  width: 17px;
}

.button_delete:hover {
  background: #cc0000;
}

.button_delete:hover .button__text {
  color: transparent;
}

.button_delete:hover .button__icon {
  width: 80px;
  transform: translateX(0);
}

.button_delete:active .button__icon {
  background-color: #b20000;
}

.button_delete:active {
  border: 1px solid #b20000;
}
.button_edit {
  position: relative;
  width: 70px;
  height: 26px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #5e7485;
  background-color: #467083;
  overflow: hidden;
}

.button_edit,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button_edit .button__text {
  transform: translateX(8px);
  color: #fff;
  font-weight: 600;
}

.button_edit .button__icon {
  position: absolute;
  transform: translateX(42px);
  height: 100%;
  width: 26px;
  background-color: #235369;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_edit .svg {
  width: 19px;
  fill: #fff;
}

.button_edit:hover {
  background: #0078e8;
}

.button_edit:hover .button__text {
  color: transparent;
}

.button_edit:hover .button__icon {
  width: 70px;
  transform: translateX(0);
}

.button_edit:active .button__icon {
  background-color: #006cd0;
}

.button_edit:active {
  border: 1px solid #006cd0;
}
router-link {
  text-decoration: none;
}
.sun {
  background: #ffffff;
}
.moon {
  background: #303030;
  color: #f9f1e4;
}

.nav {
  border-bottom: 1px solid #f5f5f5;
  color: #000000;
}
.moon .nav {
  border-bottom: 1px solid rgba(241, 235, 228, 0.1);
  color: #ffffff;
}
.moon nav {
  color: #ffffff;
}
.moon .nav.pt-36.pb-3.mb-2 {
  border-bottom: 1px solid #403b3b;
}
ol li {
  font-size: 0.8125rem;
}

/* search_admin */
.search_admin .group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 225px;
}

.search_admin .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.search_admin .input::placeholder {
  color: #9e9ea7;
}

.search_admin .input:focus,
.search_admin input:hover {
  outline: none;
  border-color: rgba(127, 80, 36, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(189, 164, 63, 0.1);
}

.search_admin .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}
.search_admin svg .dashboard {
  margin-left: 28px;
}
/* Validation */
.error {
  color: #c10606;
}
.success {
  color: green;
}